
.myclass{
	text-decoration:none;
	color: white;
			
}
.primary-background{
	background-color: #124e66 !important;
	/* background-image: url("img/AI.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed; */

}
